{% extends 'base.html'%}

{% block title %}
{{ user_account.get_full_name }}
{% endblock %}

{% block content %}
<div class="card text-center cc-card my-4">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs nav-fill" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#info" role="tab">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#stats" role="tab">Stats</a>
      </li>
        {% if user == user_account %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
            </li>
        {% endif %}
    </ul>
  </div>
  <div class="tab-content p-3 my-3">
      <div class="card-block tab-pane active" id="info" role="tabpanel">

      </div>
      <div class="card-block tab-pane table-responsive" id="stats" role="tabpanel">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Game</th>
                        <th>Top Makes</th>
                        <th>Top Gays</th>
                        <th>Bottom Makes</th>
                        <th>Bottom Gays</th>
                        <th>Total Makes</th>
                        <th>Misses</th>
                        <th>Shot Percentage</th>
                        {% if user == user_account %}
                            <th>Delete</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for score in scores %}

                    <tr>
                        <td><a href="{% url 'game_stats' score.game.pk %}">{{ score.game }}<small class="text-muted d-block">Click for detailed stats</small></a></td>
                        <td class="align-middle">{{ score.top_makes }}</td>
                        <td class="align-middle">{{ score.top_gays }}</td>
                        <td class="align-middle">{{ score.bottom_makes }}</td>
                        <td class="align-middle">{{ score.bottom_gays }}</td>
                        <td class="align-middle">{{ score.total_makes }}</td>
                        <td class="align-middle">{{ score.misses }}</td>
                        <td class="align-middle">{{ score.get_shot_percentage }}</td>
                        {% if user == user_account %}
                        <td class="align-middle"><button class="btn btn-danger delete_score" id="{{ score.pk }}">Delete</button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
      </div>
      {% if user == user_account %}
          <div class="card-block tab-pane" id="settings" role="tabpanel">
            <p class="card-text">Settings</p>
          </div>
      {% endif %}
  </div>
</div>
{% endblock %}