{%  extends 'base.html' %}
{% block title %}
    {{ team.name }}
{% endblock %}

{% block content %}
<div class="card cc-card my-4">
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Shot Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for player in team.players.all %}
            <tr>
                <td>
                    <a href="{% url 'user_account' player.first_name player.pk %}">{{ player.get_full_name }}</a>
                    {% if team.captain == player %}
                          <small class="text-muted d-block">Captain</small>
                    {% endif %}
                    {% if team.keeper == player %}
                          <small class="text-muted d-block">Keeper</small>
                    {% endif %}

                </td>
                <td class="align-middle">0</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}